{% extends 'navbar.html' %}
{% block content %}
{%load static%}
<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <span></span> 
          <h2>Meet Our Team</h2>
          <p>Our Team Is Always here to support You</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper"> 

              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   Hi,Iam Saul Goodman to support you from Kochi..My Contact Number:098765444,Email:agsssh@h.com
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   Hi,Iam Rahul K to support you from Banglure..My Contact Number:098765444,Email:agsssh@h.com
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>Rahul K</h3> 
                
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Hi,Iam Sara Wilsson to support you from Chennai..My Contact Number:098765444,Email:avish@h.com
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img height="100px" width="40px" src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
              </div>
            </div>
            <!-- <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Hi,Iam Sara Wilsson to support you from Banglure..My Contact Number:098765444,Email:agsssh@h.com
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img height="100px" width="400px" src="{% static 'img/person' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
              </div>
            </div> -->

            <!-- >End testimonial item --> -->

            
        </div><!-- End testimonial item -->
        {%endblock content%}
