
{% extends 'navbar.html' %}
{% block content %}
{%load static%}

    <section id="services" class="services section-bg">
        <div class="container">
  
          <div class="section-title">
            <!-- <span>Our Services</span> -->
            <h2 class="text-success">Our Services</h2>
            <p>We are here to support to you..</p>
            <p>You are free to contact us any time..</p>
            <p class="text-success">Our Contact Number:0987564222</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Charging Staions</a></h4>
                <p class="text-danger">Check Your Neaby charging station as per your location.</p>
<datagrid></datagrid>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">Service Available:</a></h4>
    
                <p>Car Washing</p>
                <p>Wheel Allignment</p>
                <p>Car Polish</p>

              </div>
            </div>
            <br>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="">Book Your Stations for charging</a></h4>
                <p>Book Your Charging Stations as per locations</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4><a href="">Book Your Token for service</a></h4>
                <p>Book Your token for service for your vehicle</p>
              </div>
            </div>
  
            <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-slideshow"></i></div>
                <h4><a href="">Dele cardo</a></h4>
                <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-arch"></i></div>
                <h4><a href="">Divera don</a></h4>
                <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
              </div>
            </div> -->
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
{%endblock content%}
